@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

/* Vars */
$transition: all .3s ease;

header.navbar {

  .main & {
    background: transparentize($white, .2);
  }

  .navbar-link {
    text-transform: capitalize;

    @media screen and (max-width: $tablet) {
      display: none;
    }
  }

  .navbar-item span {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

body {
  background: linear-gradient(transparentize($black, .4), transparentize($black, .3)), url('/images/desk.jpg') no-repeat;
  background-position: right top;
  background-size: cover auto;
  line-height: 1;
  min-height: 100vh;

  > .container {

    &:not(.navbar &) { padding: 1rem; }

    @media screen and (min-width: $desktop) {
      .options {
        margin: 0 auto;
        width: 60%;
      }
    }
  }
}

.card {

  &.box { padding: 0; }

  .card-content {
    .options & { text-align: center; }
  }
}

.form {
  padding: 2rem;

  label {
    font-size: 1.2rem;
    font-weight: 300;

    input { margin-top: .5rem; }
  }

  .tag { background: transparent; }
}

.manage {
  margin-top: 1rem;

  hr { margin-bottom: .5rem; }
}

.invoice {
    line-height: 1.5rem;

  .billing-details { margin-top: 1rem; }

  .vendor p {
    font-size: .85rem;
    line-height: 1rem;
  }

  .notes { margin-bottom: 2rem; }

  .title { margin-bottom: .5rem; }

  .table {

    $tableDepth: (
      1: (1, 60%),
      2: (2, 10%),
      3: (3, 10%),
      4: (4, 20%)
    );

    @each $tableDepth, $td in $tableDepth {
      $num: nth($td, 1);
      $width: nth($td, 2);
      td:nth-child( #{$num} ) { width: $width; }
    }
  }
}

.invoice-list {
  margin-bottom: 2rem;

  @media screen and (min-width: $desktop) { text-align: center; }

  li {
    align-items: center;

    div { text-transform: capitalize; }

    &:hover {
      background-color: $white-ter;
      transition: $transition;
    }

    &:not(:last-child) { border-bottom: 1px solid $white-ter; }
  }
}

footer { padding: 3rem 1.5rem 6rem; }

/* Utility */
.notification { transition: $transition; }

.mdi {

  .card .card-content & { font-size: 6rem; }
  .invoice-list li & { vertical-align: sub; }
}

.hidden {
  opacity: 0;
  transition: $transition;
  visibility: none;
}
