@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

header.navbar {
  .main & {
    background: transparentize($white, .2);
  }
}

body {
  min-height: 100vh;

  &.main {
    background: linear-gradient(transparentize($black, .5), transparentize($black, .4)), url('/images/desk.jpg');
    background-size: cover;
  }
}

.form {
  background-color: transparentize($white, .1);
  padding: 2rem;

  .tag {
    background: transparent;
  }
}
